.carrusel{
    width: 325px;   
    padding: 10px;
}

.head{
    background-color: #d63384;
    text-align: center;
    color: black;
}

footer{
    background-color: black;
    text-align: center;
}

.recuerdo{
    text-align: center;
    color: #d63384;
    border-top:3px solid red;
}